html, body{
    margin-top: 20px;
    background-color: lightgray;
}

#container{
    display: flex;
    justify-content: center;
}

#menu{
    background-color: lightcyan;
    border-radius: 45px;
    padding: 25px;
    max-width: 200px;
    display: grid;
}

#maze{
    display: flex;
    justify-content: center;
    padding: 25px;
}